*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  width: 100%;
}

nav{
  display: flex;

}

main{
  width: 80%;
  margin: 4rem auto;
}

.file-upload{
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.file-upload span{
  background-color: blue;
  padding: 1rem;
}

.file-upload input.upload{
  position: absolute;
  top: 0;
  left:0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

audio{
  width: 90%;
  display: block;
  margin: 2rem auto;
}